.newsletter {
  grid-column: full-start/full-end;
  background-image: linear-gradient(
    to top right,
    $color-secondary,
    $color-secondary-dark 70%
  );
  padding: 8.8rem;
  text-align: center;
  &__subtext {
    font-size: 2rem;

    margin-bottom: 1.6rem;
    font-weight: 300;
    color: $color-light;
  }
  .input-wrapper {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-light;
    padding: 0.5rem;
    border-radius: 0.5rem;
    input {
      background-color: $color-light;
      color: $color-grey-light-3;
      font-size: 2rem;
      // width: 30rem;
      padding: 1.2rem 1.5rem;
      border: none;
      border-radius: 0.5rem;
      margin-right: 0.3rem;
      border: 1px solid transparent;
      -webkit-transition: border 0.2s;
      transition: border 0.2s;

      &:focus {
        outline: none;
        border: 1px solid $color-primary;
      }
      &::placeholder {
        color: inherit;
      }
      @media only screen and (max-width: $break-point-2) {
        width: 100%;
      }
    }

    button {
      background-color: $color-primary;
      color: $color-light;
      border-radius: 0.5rem;
      padding: 1.2rem 2rem;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      font-weight: 100;
      @media only screen and (max-width: $break-point-2) {
        width: 100%;
      }
    }
    @media only screen and (max-width: $break-point-2) {
      flex-direction: column;
    }
  }
}
